*{  box-sizing: border-box;
    background-color: black; 
    }
.home-container{
    background-color: black;
}

.list-group-movies{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.div-movie{
    margin:1% 0% 1% 2%;
    box-shadow: 2px 3px 2px 5px rgba(255, 127, 80, 0.5);
    
}

.img-detail1{
    margin: auto;
    width: 25%;
    box-shadow: 2px 3px 2px 5px rgba(255, 127, 80, 0.5);
    
    
}
.img-detail2{
    margin: auto;
    width: 50%;
    box-shadow: 2px 3px 2px 5px rgba(255, 127, 80, 0.5);
    
}
input{
    background-color: whitesmoke;
}
.group-menu-buttons{
   text-align: right;
   margin: 1% 5% 1% 0%;
   background-color: transparent;
}
.button-menu{
    margin-left: 10px;
    padding:1%;
    margin-block-end: auto;
    border: solid 3px;
    border-radius: 15% ;
    border-color: coral;
    background-color: black;
    color:coral
}
.search-bar{
    margin-left: 2%;
    color: coral;
}

.search-bar-input{ 
    border-radius: 7%;
    border-color: coral;
}
.header-logo{
    background-repeat: no-repeat;
    background-image: url("../img/cinema-logo2.jpg");
    background-size: 100%;
    padding: 30% 0% 0% 0%;
    margin-bottom:0%;
    
}
.color-text1{
    color: white;
    margin: 2% 0% 0% 0%;
    
}
.u-list{
    font-size: 110%;
    list-style: none;
    color: white;
}
.title1 {
    text-align: center;
    margin-right: auto;
    color:coral;
    text-transform: uppercase;
    
}
.detail-container{
    margin:1%;
    padding-right: 3%;
}

.list-group-footer{
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    
}
.div-footer{
    margin-left: 10%
}
.inputs{
    margin: 1%;
    padding-right:30%;
    border-radius: 5%;
    border: 3px solid coral;
}
