*{  box-sizing: border-box;
    }

.list-group-movies{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.one-movie{
    margin:1% 1% 0% 2%;
}
.img-detail1{
    margin: auto;
    width: 25%;
    
    
}
.img-detail2{
    margin: auto;
    width: 50%;
    
}

.group-menu-buttons{
   text-align: right;
   margin: 2% 25% 
}
.button-menu{
    margin-left: 10px;
    margin-block-end: auto;
    border-radius: 12% solid 5px;
    border-color: coral;
    background-color: black;
    color:coral
}
.search-bar{
    text-align: center;
    color: coral
}

.search-bar-input{ 
    border-radius: 7%;
    border-color: coral;
}
.header-logo{
    background-color:black;
    background-repeat: no-repeat;
    background-image: url("../img/cinema-logo2.jpg");
    background-size: 100%;
    padding: 30% 0% 0% 0%;
    
}
.color-text1{
    color: white;
    margin-right: 40%;
    margin: 1% 0% 0% 0%;
    
}
.u-list{
    font-size: 110%;
    list-style: none;
    color: white;
}
.title1 {
    text-align: center;
    padding-right: 40%;
    color:coral;
    text-transform: uppercase;
    
}
.detail-container{
    margin:1%;
    padding-right: 3%;
}

.list-group-footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.div-footer{
    margin: 6% 1% 6% 0%;
}
.footer-logo{
    background-position: right;
    background-image: url("../img/retro-de-cámara-cine-vectores-afiches-películas-ilustración-vectorial-171210014.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 0;
    margin: 0% 10% 0% 10%;

}

.inputs{
    margin: 1%;
    padding-right:30%;
    border-radius: 5%;
    border: 3px solid coral;
}
.footer-container{
    background-color: black;
}
@media (min-width: 375px) {
    .list-group-movies{
        text-align: center;
    }
}